body {
	background: #e2e2e2 !important;
}

.bg-primary {
	background: #009688 !important;
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
		url(../img/banner.jpg);
	background-size: cover;
	color: white;
}

.my-card {
	padding: 20px;
	background: #FFFFFF
}

#login .form-control {
	line-height: 2;
}
#login .bg-custom {
	background-color: #6C63FF;
	height: 91vh;
}
#login .btn-custom {
	background-color: #3e3d56;
	color: #fff;
	width: 100%;
}

#login .btn-custom:hover {
	background-color: #33313f;
	color: #fff;
}

#login label {
	color: #fff;
}

#login a, a:hover {
	color: #fff;
	text-decoration: none;
}

#login a, a:hover {
	text-decoration: none;
}

#login @media ( max-width : 932px) {
	.display-none {
		display: none !important;
	}
}	

/* Side Bar Style */

/* Side Bar Style For Mobile Start */
@media only screen and (max-width:600px){
	.sidebar{
	display: none;
	width: 80% !important;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 20px;
	}
	
	.content{
	margin-left: 0% !important;
	}
}
/* Side Bar Style For Mobile End */

.sidebar{
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 999999999999999999
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 20px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover{
	background: #e2e2e2;
}

.sidebar .divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content{
	margin-left: 20%
}

.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.my-profile-picture{
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
}

a:hover {
    color: background;
  
} 

.active{
	background: #009688 !important;
	color: white !important;
}

/* Search CSS */
.search-result{
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	display: none;
	
}